<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app>
	<servlet>
		<servlet-name>
              JavaTest
          </servlet-name>
		<servlet-class>
              com.conygre.JavaTest
          </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
                JavaTest
            </servlet-name>
		<url-pattern>
                /javatest
            </url-pattern>
	</servlet-mapping>
</web-app>
